ELEVENLABS_API_KEY=sk_56aaa25d92e5a22bf8864cd81ae155165910660e8999fca8
ELEVENLABS_AGENT_ID=agent_9901kres7r1af99bhyvwsj1hkd92

SIP_CALLCENTER_NUMBER=+1234567890

GOOGLE_SHEET_ID=
GOOGLE_CREDENTIALS_PATH=./credentials.json

MAX_CONCURRENT=3
POLL_INTERVAL_SECONDS=30
RETRY_DELAY_MINUTES=120
MAX_RETRIES=3

WEBHOOK_PORT=3000
WEBHOOK_SECRET=
